.modal-header {
  padding: 8px 16px;
  background-color: #1f253f;
  color: white;
}

.modal-header-title {
  display: flex;
  justify-content: space-between;
}

.modal-header-title h1 {
  margin: 0.3em 0;
  margin-top: 0.5em;
}

.modal-body {
  padding: 2px 14px;
  font-weight: 600;
}

.modal-link {
  padding: 0px 14px;
  font-weight: 600;
}

.modal-data {
  padding: 2px 10px;
  font-weight: 300;
}

.modal-data,
td {
  padding-right: 2em;
}

.modal-row-header {
  font-weight: 700;
  color: rgb(122, 122, 122);
}

.modal-footer {
  padding: 2px 16px;
  background-color: #d46000;
  color: white;
}

.modal-content-show {
  top: 0%;
  left: 0%;
  position: fixed;
  background-color: #fcfcfc;
  margin: auto;
  padding: 0;
  border: 1px solid #1f253f;
  max-width: 415px;
  min-width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animateReveal;
  animation-duration: 0.8s;
  z-index: 1;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 12px;
}

@keyframes animateReveal {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.modal-content-hide {
  top: 0%;
  left: 0%;
  position: fixed;
  background-color: #fcfcfc;
  margin: auto;
  padding: 0;
  border: 1px solid #1f253f;
  max-width: 415px;
  min-width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animateHide;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 12px;
  z-index: 1;
}

@keyframes animateHide {
  from {
    top: 0;
    opacity: 1;
  }
  to {
    top: -300px;
    opacity: 0;
  }
}

.close {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.55);
  padding: 2px;
  margin: 10px 2px 2px 2px;
}

.close:hover {
  background-color: rgba(255, 255, 255, 0.55);
  color: black;
  border: 1px solid white;
}
